# Python bytecode and cache
__pycache__/

# Virtual Environments
venv/
env/

# Django local files
*.sqlite3


# Environment variables & Secrets
.env

# IDE / Editor specific files
.vscode/

# Testing and coverage reports
.pytest_cache/

